# Fichiers système
.DS_Store
Thumbs.db

# Editeurs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Dépendances (pour futurs projets)
node_modules/
bower_components/

# Fichiers de build
dist/
build/

# Fichiers temporaires
*.tmp
*.temp